#app {
    width: 280px;
    margin: 0 auto;
    height: 450px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 0 7px 1px #a5a5a5;
}
#drag-icon{
    height: 30px;
    width: 280px;
    margin: 0 auto;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
}
